# AirfoilEditor
releases
AirfoilEditor.settings
README.pdf
*_polars
*_designs
*_temp
examples/
run_control
*_temp
doc/RCN

test_airfoils
test_optimize

prod/

# VSCodeCounter 
.VSCodeCounter

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

